[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/academic-1"]
	path = themes/academic-1
	url = https://github.com/lxndrblz/anatole.git
